<h1>Listing timelines</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Source</th>
  </tr>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%=h timeline.title %></td>
    <td><%= link_to(h(timeline.source.name), admin_source_path(timeline.source)) %></td>
    <%= actions_for(timeline) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timeline', new_admin_timeline_path %>